{% extends 'mainapp/base.html' %}


{% block content %}

     {% for article in article_list %}
            <div class="post_section"><span class="bottom"></span>

<!--                <span class="comment"><a href="blog_post.html">65</a></span>-->

                <h2><a href="{% url 'articleapp:detail' article.pk %}">{{article.title}}</a></h2>

                <strong>Дата публикации:</strong> {{ article.updated_at |date:" d.m.Y H:i" }}|
                <strong>Автор:</strong> {{article.author.username}}
                <div class="cleaner_h40"></div>
                <p> {{ article.content|safe|truncatewords:30 }} </p>

                <div class="cleaner"></div>
                <div class="category"> Раздел: {{article.section.name}} </div>
                <div class="category"> Тэги:
                    {% for tag in article.tags.all %}
                        {{tag.name}} |
                    {% endfor %}
                </div>
                <div class="button float_r">
                    <a href="{% url 'articleapp:detail' article.pk %}" class="more">Читать далее</a>
                </div>
                <div class="cleaner"></div>
            </div>
            <div class="cleaner_h40"><!-- a spacing between 2 posts --></div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
            {% endif %}
        </span>
    </div>

{% endblock %}
