{% extends 'mainapp/base.html' %}


{% block content %}

     {% for article in article_list %}
            <div class="post_section"><span class="bottom"></span>

                <span class="comment"><a href="blog_post.html">65</a></span>

                <h2><a href="{% url 'articleapp:detail' article.pk %}">{{article.title}}</a></h2>

                <strong>Date:</strong> {{ article.updated_at }}|
                <strong>Author:</strong> {{article.author.username}}
                <div class="cleaner_h40"></div>
                <p> {{ article.content }} </p>

                <div class="cleaner"></div>
                <div class="category"> Tags:
                    {% for tag in article.tags.all %}
                        {{tag.name}} |
                    {% endfor %}
                </div>
                <div class="button float_r">
                    <a href="{% url 'articleapp:detail' article.pk %}" class="more">Read more</a>
                </div>
                <div class="cleaner"></div>
            </div>
            <div class="cleaner_h40"><!-- a spacing between 2 posts --></div>
    {% endfor %}

{% endblock %}
