{% extends 'mainapp/base.html' %}


{% block content %}

	<div id="templatemo_content">

    	<h2>Web Blog Services</h2>
        <p>Validate <a href="" rel="nofollow">XHTML</a> &amp; <a href="" rel="nofollow">CSS</a>. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent aliquam velit a magna sodales quis elementum ipsum auctor. Ut at metus leo, et dictum sem</p>

        <div class="cleaner_h30"></div>

    	<div class="service_box">
            <h4><a href="" target="_parent">Lorem ipsum dolor sit amet</a></h4>

      	<div class="left">
            	<img src="static/mainapp/images/chart1.png" alt="image" />
            </div>
            <div class="right">
                <p>Curabitur ullamcorper neque et justo aliquet at pretium orci  scelerisque. Mauris sodales tristique dignissim. Phasellus ut augue  nibh. Aliquam vel libero sit amet mauris posuere ullamcorper  sollicitudin ac eros. Vestibulum auctor euismod mi et tincidunt. </p>

            </div>
            <div class="cleaner"></div>
            <ol>
                    <li>Cum sociis natoque penatibus et magnis dis parturient montes</li>
                    <li>Donec massa nisl, consequat eu vulputate ut</li>
                    <li>Sed fermentum arcu in enim euismod quis lobortis</li>
                    <li>Fusce fringilla, dui sed blandit luctus, arcu augue</li>
                    <li>Sed id magna scelerisque augue consequat sagittis</li>
			</ol>
            <div class="cleaner"></div>
        </div>

        <div class="service_box">

        <h4><a href="#">Morbi sed nulla ac est cursus suscipit</a></h4>

          <div class="left">
            <img src="static/mainapp/images/chart2.png" alt="image" />
            </div>
            <div class="right">
                <p>Phasellus diam orci, rhoncus sed condimentum et, sodales vel leo. Nunc  dignissim quam a nisi placerat gravida. Suspendisse potenti. Curabitur  suscipit lacus vestibulum mi accumsan bibendum. Vivamus gravida, dui  eget tincidunt rutrum, ante justo malesuada lacus.</p>


            </div>
            <div class="cleaner"></div>
            <ol>
                    <li>Fusce fringilla, dui sed blandit luctus, arcu augue</li>
                    <li>Sed id magna scelerisque augue consequat sagittis</li>
                    <li>Cum sociis natoque penatibus et magnis dis parturient montes</li>
                    <li>Donec massa nisl, consequat eu vulputate ut</li>
                    <li>Sed fermentum arcu in enim euismod quis lobortis</li>
             </ol>
        </div>

 	</div>

{% endblock %}
