{% extends 'mainapp/base.html' %}


{% block content %}
<div class="service_box">
<!--    <span class="bottom"></span>-->
<!--    <span class="comment">-->
<!--        <a href="blog_post.html">65</a></span>-->
        <h2><a href="{% url 'articleapp:detail' article.pk %}">{{article.title}}</a></h2>
        
        <strong>Дата публикации:</strong> {{ article.updated_at |date:" d.m.Y H:i"}}|
        <strong>Автор:</strong><a href="{% url 'account:personal_page' article.author.pk %}">{{article.author.username}}</a>

        <div class="cleaner_40"></div>
        <div class="category"> Раздел: {{article.section.name}} </div>
        <div class="category"> Тэги:
            {% for tag in article.tags.all %}
            {{tag.name}} |
            {% endfor %}
        </div>
        <div class="cleaner"></div>
        <div class="cleaner_40"></div>
        <div>
            <p> {{object.content |safe}} </p>
        </div>
            <div>    
               {% if user.is_authenticated and article.author.username == user.username %}
                        <a href="{% url 'article:edit' article.pk %}" class="btn btn-primary" style="color: #FFFFFF"> Редактировать</a>
                        <a href="{% url 'article:delete' article.pk %}" class="btn btn-primary" style="color: #FFFFFF"> Удалить</a>
                    </div>
                {% endif %}
             </div>
        </div>
</div>

{% endblock %}
