{% extends "mainapp/base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="mb-3">
        <h2>Сменить пароль</h2>
        {% if validlink %}
            <p>Пожалуста введите дважды свой новый пароль:</p>
            <form action=" " method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Сменить пароль"/>
            </form>
        {% else %}
            <p>Ссылка для сброса пароля недействительна, возможно, потому, что она
                 уже была использована. Пожалуйста, запросите сброс пароля еще раз.</p>
        {% endif %}
    </div>
{% endblock %}