{% load static %}
{% load media_users %}
{% load has_new_notify %}

<div id="templatemo_header_wrapper">
    <div id="templatemo_header">

        <div id="site_title">
            <h1><a href="index.html">
                {# <img src="{% static 'mainapp/images/templatemo_logo.png' %}" alt="tripod blog"/>#}
            </a>
                <span>GB sent habr project</span>
            </h1>
        </div>

        <div id="templatemo_rss">
            <a href="{% url 'search:search' %}" class="btn btn-secondary" ><i class="fa fa-search"></i> Поиск</a>
        </div>

        {% if user.is_authenticated %}
            <div id="templatemo_rss">

                {#                <img src="{% static 'mainapp/images/default_django-icon.png' %}" alt="{{ user.first_name }}" data-view-component="true" class="avatar circle">#}
                {% if user.avatar %}
                    <img src="{{ user.avatar | user_avatar}}" alt="{{ user.first_name }}" data-view-component="true"
                         class="avatar circle">
                {% else %}
                    <img src="{% static 'mainapp/images/default_django-icon.png' %}" alt="{{ user.first_name }}" data-view-component="true"
                         class="avatar circle">
                {% endif %}

                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    {{ user.first_name|default:'Пользователь' }}
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item" href="{% url 'auth:edit' %}">Редактировать профиль</a></li>
                    <li><a class="dropdown-item" href="{% url 'account:personal_page' user.pk %}">Пресональная
                        страница</a></li>
                    <li>
                        <a class="dropdown-item" href="{% url 'notification:my_notifications' user.pk %}" >
                            {% if request.user|has_new_notify %}
                            🔔
                            {% endif %}
                            Мои уведомления
                        </a>
                    </li>
                    {% if user.is_superuser %}
                        <li><a class="dropdown-item" href="admin/">Админ. панель</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{% url 'auth:logout' %}">Выход</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    {#                    <li><a class="dropdown-item" href="#">Separated link</a></li>#}
                </ul>
            </div>
        {% else %}
            <div id="templatemo_rss">
                {#                <a href="{% url 'auth:login' %}" target="_parent">Войти</a>#}
                <a href="{% url 'auth:login' %}" class="btn btn-secondary">Войти</a>
            </div>
        {% endif %}
    </div> <!-- end of header -->

    <div id="templatemo_menu">
        <ul>
            <li>
                <a href="{% url 'index' %}"
                   class="{% if request.resolver_match.view_name == 'index' %}current{% endif %}">Все</a>
            </li>
            {% for link in sections_menu %}

                {% if link.slug != 'help' %}
                    <li>
                        <a href="{% url 'section' link.slug %}"
                           class="{% if request.resolver_match.kwargs.section_slug == link.slug %}current{% endif %}">{{ link.name }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
           <li>
                    <a href="{% url 'help' %}"
                       class="{% if request.resolver_match.view_name == 'habr_help' %}current{% endif %}">Помощь
                    </a>
           </li>
        </ul>

    </div> <!-- end of templatemo_menu -->

</div> <!-- end of header wrapper -->

