{% load static %}
{% load cache %}

{% cache 300 sidebar_one %}
<div id="templatemo_sidebar_one">

    <h5>Лучшие статьи</h5>
    <ul class="templatemo_list">
        {% for article in popular_articles %}
           <li> <a href="{% url 'articleapp:detail' article.pk %}">{{article.title}}</a></li>
        {% endfor %}
    </ul>

    <div class="cleaner_h40"></div>

    <h5>Популярные пользователи</h5>
    <ul class="templatemo_list">
        {% for user in popular_users %}
            <li><a href="{% url 'account:personal_page' user.pk %}"> {{ user.username }}</a></li>
        {%endfor%}
    </ul>

</div>
{% endcache %}