{% load static %}
<div id="templatemo_sidebar_one">

    <h5>Лучшие статьи</h5>
    {% for article in popular_articles %}
        <div class="recent_comment_box">
            <a href="{% url 'articleapp:detail' article.pk %}">{{article.title}}</a>
            <p>{{ article.content|safe|truncatewords:5 }}</p>
        </div>
    {% endfor %}

    <div class="cleaner_h40"></div>

    <h5>Популярные пользователи</h5>
    <ul class="templatemo_list">
        {% for user in popular_users %}
            <li><a href="{% url 'account:personal_page' user.pk %}"> {{ user.username }}</a></li>
        {%endfor%}
    </ul>

</div>