{% extends 'mainapp/base.html' %}
{% load media_users %}
{% load notify_text %}

{% block content %}

    <h2> Уведомления для пользователя {{user.username}}: </h2>
    <div class="cleaner_h20"></div>
    {% for notification in unread_notify %}
        <div class="callout">
        <li class="notify_list">   <a href="{% url 'notification:mark_as_read' notification.pk %}"
                  title="Отметить как прочитанное" style="text-decoration: none"> {{notification | notify_text}} </a>
        </li>
        </div>
    {% endfor %}

    {% for notification in read_notify %}
        <div class="callout callout-read">
        <li class="notify_list" style="opacity: 0.33"> {{notification | notify_text}}</li>
        </div>
    {% endfor %}

{% endblock %}