{% extends 'mainapp/base.html' %}
{% load media_users %}
{% load notify_text %}

{% block content %}

    <h2> Уведомления для пользователя {{user.username}}: </h2>
    <div class="cleaner_h20"></div>
    {% for notification in unread_notify %}
        <li>  {{notification | notify_text}} <a href="{% url 'notification:mark_as_read' notification.pk %}"
                                               title="Отметить как прочитанное" style="text-decoration: none"> ✓ </a></li>
    {% endfor %}

    {% for notification in read_notify %}
        <li style="opacity: 0.33"> {{notification | notify_text}}</li>
    {% endfor %}

{% endblock %}